@page {
    size: A4;
    margin: 20mm;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
}

header {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;

}
.container {
    width: 100%;
}

.titulo {
    text-align: center;
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 15px;
}

.titulo h1 {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}

.bloco-info {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela-cabecalho th {
    background-color: #f2f2f2 !important;
}


.tabela th,
.tabela td {
    border: 1px solid #000;
    padding: 5px;
}

.tabela th {
    text-transform: uppercase;
    font-size: 11px;
}

.center {
    text-align: center;
    font-size: 14px;
}

.right {
    text-align: right;
    font-size: 14px;
}

.observacoes {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 15px;
    min-height: 80px;
}

.assinaturas {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 11px;
}
