{% extends "base.html" %}
{% load humanize %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<div class="container-fluid">

    <h1 class="mb-4">Lista de Produtos</h1>

   <div class="d-flex justify-content-between mb-3">
     <div class="align-self-start">
         <a href="{% url 'produtos:produto_create' %}" class="btn btn-primary">
             Novo Produto
         </a>
     </div>

     <div class="d-flex flex-column align-self-start">
         <small class="text-muted mb-1">
             Pressione <strong>B</strong> para focar no campo de busca
         </small>
     
         <form method="get" action="#" class="d-flex gap-2">
             <input
                 type="text"
                 name="search"
                 id="search"
                 class="form-control w-60"
                 placeholder="Buscar..."
                 value="{{ termo }}"
             >
         
             {% if termo %}
                 <button class="btn btn-primary" name="search" type="submit" value="">Limpar</button>
             {% else %}
                 <button class="btn btn-primary" type="submit">Buscar</button>
             {% endif %}
         </form>
     </div>
</div>
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço de Venda</th>
                <th>Quantidade de Estoque</th>
                <th>Fornecedor</th>
                <th>Código de Barras</th>
                <th>Ativo</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody id="produto-lista-corpo">
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.codigo }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>R$ {{ produto.preco_venda|floatformat:2|intcomma }}</td>
                    <td>{{ produto.quantidade_estoque }}</td>
                    <td>{{ produto.fornecedor }}</td>
                    <td>{{ produto.codigo_barras }}</td>
                    <td>
                        {% if produto.ativo %}
                            <span class="badge bg-success">Ativo</span>
                        {% else %}
                            <span class="badge bg-danger">Inativo</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Ações">
                            <a href="{% url 'produtos:produto_edit' produto.id %}" class="btn btn-sm btn-primary rounded-pill me-2">
                                Editar
                            </a>
                            <a href="#"
                               class="btn btn-sm btn-danger"
                               data-bs-toggle="modal"
                               data-bs-target="#confirmDeleteModal"
                               data-name="{{ produto.nome }}"
                               data-action="{% url 'produtos:produto_delete' produto.id %}">
                               Excluir
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        Nenhum produto cadastrado.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
{% block extra_js %}
<script>
    const CampoBusca = document.getElementById("search");

    document.addEventListener("keydown", function(event){
        if (event.key == "b" || event.key == "B"){
            event.preventDefault();
            CampoBusca.focus();
            
        }
    });
</script>
{% endblock %}
